---
HeaderFileExtensions:
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
Checks: 'clang-analyzer-*,
cppcoreguidelines-*,
performance-*,
bugprone-*,
google-*,
readability-*,
-readability-identifier-length,
-bugprone-easily-swappable-parameters,
-readability-magic-numbers,
-cppcoreguidelines-avoid-magic-numbers'
CheckOptions:
  readability-function-cognitive-complexity.DescribeBasicIncrements: 'false'
